body,
html {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    width: 800px;
    height: 600px;
    border: 1px solid black;
    background-color: #ADFCE0;
}

.menu {
    position: relative;
    border: 1px solid black;
    width: 100px;
    background-color: white;
}

.item {
    padding: 5px;
    font-weight: bold;
    cursor: pointer;
}

.item:not(:last-child) {
    border-bottom: 1px solid black;
}